# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
/.pnp
.pnp.js

# testing
/packages/*/coverage

# production
/packages/*/dist
/packages/*/lib
/packages/*/build
/packages/*/tmp
/packages/*/out-tsc
/packages/*/bazel-out

# sample lockfile
/packages/*-sample/pnpm-lock.yaml

# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro

# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# misc
.angular/cache
.sass-cache/
cache
.*cache
.DS_Store
Thumbs.db
.env
.env.*
!.env.example
.idea/
*.pem
.history
.vercel
.next
*.local
